In [1]:
number=10
def multiply(num):
  number=5
  return num*number

In [2]:
multiply(10)

50

In [3]:
print(number)

10

LEGB

L:LOCAL
E:ENCLOSİNG
G:GLOBAL
B:BUILT-IN

In [7]:
name="fatmanur"
#global
def myfunc():
  name="nur"
  #enclosing
  def myfunc2():
    #local
    name="fatma nur gebeşoğlu"
    print(name)
  myfunc2()

In [8]:
myfunc()

fatma nur gebeşoğlu

In [11]:
y=10

def funcnew(y):
  print(y)
  y=5
  print(y)
  return y

In [12]:
funcnew(10)

10
5

5

In [13]:
x=10
def funcnew2():
  global x
  x=5
  print(x)

In [14]:
funcnew2()

5