In [2]:
list1=[1,2,3,4,5]

In [3]:
for number in list1:
  print("fatmanur")

fatmanur
fatmanur
fatmanur
fatmanur
fatmanur

In [4]:
for item in  list1:
  newnumber=item*5
  print(newnumber)

5
10
15
20
25

In [5]:
for number in list1:
  if number%2==0:
    print("çift sayı")
  else:
    print("tek sayı")

tek sayı
çift sayı
tek sayı
çift sayı
tek sayı

In [6]:
mystring="fatmanur gebeşoğlu"

In [7]:
for letter in mystring:
  print(letter)

f
a
t
m
a
n
u
r

g
e
b
e
ş
o
ğ
l
u

In [8]:
mytuple=(1,2,3)

In [10]:
for item in mytuple:
  print(item*5-10)
#tuple değişmez

-5
0
5

In [12]:
list2=[("a","b"),("c","d"),("e","f"),("g","h")]
#içinde tuple bulunan bir liste

In [13]:
for element in list2 :
  print(element)

('a', 'b')
('c', 'd')
('e', 'f')
('g', 'h')

In [14]:
for (x,y) in list2:
  print((x,y))

('a', 'b')
('c', 'd')
('e', 'f')
('g', 'h')

In [15]:
tuplelist1=[(0,1,2),(3,4,5),(6,7,8)]

In [16]:
for (x,y,z) in tuplelist1:
  print(x,y,z)

0 1 2
3 4 5
6 7 8

In [17]:
dictionary1={"key1":100,"key2":200,"key3":300}

In [18]:
dictionary1.items()

dict_items([('key1', 100), ('key2', 200), ('key3', 300)])

In [19]:
for a,b in dictionary1.items():
  print(a,b)

key1 100
key2 200
key3 300