In [1]:
import pandas as pd
import numpy as np

In [2]:
sozlukVerisi={"istanbul":[30,29,np.nan],"ankara":[20,np.nan,25],"izmir":[40,39,28]}
havaDurumuDataFrame=pd.DataFrame(sozlukVerisi)

In [3]:
havaDurumuDataFrame

   istanbul  ankara  izmir
0      30.0    20.0     40
1      29.0     NaN     39
2       NaN    25.0     28

In [5]:
havaDurumuDataFrame.dropna()
#satÄ±rda eksikse varsa siler

   istanbul  ankara  izmir
0      30.0    20.0     40

In [7]:
havaDurumuDataFrame.dropna(axis=1)
#sutunda eksik varsa siler

   izmir
0     40
1     39
2     28

In [9]:
yeniVeri={"istanbul":[30,29,np.nan],"ankara":[20,np.nan,25],"izmir":[40,39,28],"antalya":[45,np.nan,np.nan]}
yeniVeriDataFrame=pd.DataFrame(yeniVeri)

In [10]:
yeniVeriDataFrame

   istanbul  ankara  izmir  antalya
0      30.0    20.0     40     45.0
1      29.0     NaN     39      NaN
2       NaN    25.0     28      NaN

In [11]:
yeniVeriDataFrame.dropna(axis=1,thresh=2)
# thresh=2 kodu 2 ve Ã¼zeri nan var ise drop et anlamÄ±na gelir

   istanbul  ankara  izmir
0      30.0    20.0     40
1      29.0     NaN     39
2       NaN    25.0     28

In [12]:
yeniVeriDataFrame.fillna(20)
#nan olan yerleri 20 ile doldur anlamÄ±na gelir

   istanbul  ankara  izmir  antalya
0      30.0    20.0     40     45.0
1      29.0    20.0     39     20.0
2      20.0    25.0     28     20.0

groupby

In [17]:
maasdict= {"departman":["yazilim","yazilim","pazarlama","pazarlama","hukuk","hukuk"],
           "calisan ismi":["ahmet","mehmet","atil","burak","zeynep","fatma"],
           "maas":[100,150,200,300,400,500]}

In [18]:
maasDataFrame=pd.DataFrame(maasdict)

In [19]:
maasDataFrame

   departman calisan ismi  maas
0    yazilim        ahmet   100
1    yazilim       mehmet   150
2  pazarlama         atil   200
3  pazarlama        burak   300
4      hukuk       zeynep   400
5      hukuk        fatma   500

In [21]:
grupobjesi=maasDataFrame.groupby("departman")

In [22]:
grupobjesi.count()

           calisan ismi  maas
departman
hukuk                 2     2
pazarlama             2     2
yazilim               2     2

In [23]:
grupobjesi.mean()

            maas
departman
hukuk      450.0
pazarlama  250.0
yazilim    125.0

In [24]:
grupobjesi.describe()

           maas
          count   mean        std    min    25%    50%    75%    max
departman
hukuk       2.0  450.0  70.710678  400.0  425.0  450.0  475.0  500.0
pazarlama   2.0  250.0  70.710678  200.0  225.0  250.0  275.0  300.0
yazilim     2.0  125.0  35.355339  100.0  112.5  125.0  137.5  150.0